@media (max-width: 1024px){
    html{
        font-size: 55%;
    }
    .header{
        
        section{
            padding: 5rem 2rem;
        }
    }
}
@media (max-width: 768px){
    section{
        padding: 3rem 1rem;
        background-position: left;
    }
    .header{
       .nav{
            display: none;
        }
    }
}      
 
@media (max-width: 450px){
    html{
        font-size: 50%;
    }
    .home{
        background-position: center;
        .content{
            h3{
                font-size: 4rem;
            }
        }
    }
}